
div#container {
    min-height: 100%;
}

div.course-details {
    width: 30%;
    height: 100%;
    min-height: 100%;
    float: left;
}

div.course-comments {
    width: 68%;
    height: 100%;
    min-height: 100%;
    float: right;
    position: relative;
    top: 16px;
}

div.comment {
    box-shadow: 0 0 10px 10px gray;
}

#nocomments {
    text-align: center;
    background-color: lightyellow;
    border: 1px solid brown;
    padding: 8px;
    box-shadow: 0 0 15px 2px gray;
}

h1 > .faded-out {
    font-size: 80%;
}

