
ul.tabbernav {
    padding-left: 16px;
    border-bottom: 1px solid gray;
}

ul.tabbernav > li {
    border: 1px solid black;
    border-bottom: none;
    display: inline;
    margin-right: 8px;
    padding: 0 8px 0 8px;

    position: relative;

/*
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;*/

    background-color: lightgray;
}

ul.tabbernav > li.tabberactive {
    border-bottom: 1px solid white;
    padding-top: 4px;
    padding-bottom: 4px;
    
    position: relative;
    bottom: 4px;
    background-color: inherit;
}

li.tabberactive > a {
    font-weight: bold;
}

ul.tabbernav > li > a {
    text-decoration: none;
    font-size: 0.8em;
    color: black;
}

.tabbertabhide {
    display: none;
}

div#container {
    min-height: 100%;
}

div.course-details {
}

div.course-actions {
    position: relative;
    top: 8px;
}

div.course-actions > a {
    padding: 4px;
    margin-right: 8px;
    box-shadow: 0 0 10px 1px lightgray;
    text-decoration: none;
    border-radius: 8px;
}

div.course-comments {
    height: 100%;
    min-height: 100%;
}

#nocomments {
    margin-bottom: 16px;
    text-align: center;
    background-color: lightyellow;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px lightgray;
}

div.side-box {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px lightgray;
}

#comment-input > textarea {
    display: block;
    width: 99%;
}

#comment-input > .controls {
    text-align: right;
}

#comment-input > .controls > .subtext {
    float: left;
    position: relative;
    top: 4px;
}

#comment-preview {
    display: none;
}

#markdown-help {
    display: none;
}

table {
    margin-top: 8px;
    font-size: 0.8em;
}

table, tr, th, td {
    border: 1px solid #9c0;
    border-collapse: collapse;
}

th {
    background-color: #9c0;
    color: white;
}

td, th {
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

td > ul {
    margin: 0px;
}

span.preview-controls {
    position: relative;
    right: 8px;
    display: none;
}

img.spinner {
    position: relative;
    top: 3px;
}

div.comment {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px lightgray;
    margin-bottom: 16px;
}

div.comment > .comment-header {
    font-size: 0.8em;
    border-bottom: 1px solid lightgray;
}

h1 > .faded-out {
    font-size: 80%;
}

