
div#container {
    min-height: 100%;
}

div.course-details {
    width: 30%;
    height: 100%;
    min-height: 100%;
    float: left;
}

div.course-comments {
    width: 68%;
    height: 100%;
    min-height: 100%;
    float: right;
    position: relative;
    top: 16px;
}

#nocomments {
    margin-top: 16px;
    text-align: center;
    background-color: lightyellow;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px lightgray;
}

#comment-input {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px lightgray;
}

#comment-input > textarea {
    display: block;
    width: 99%;
}

#comment-input > .controls {
    text-align: right;
}

#comment-input > .controls > .subtext {
    float: left;
    position: relative;
    top: 4px;
}

#markdown-help {
    display: none;
}

table {
    margin-top: 8px;
    font-size: 0.8em;
}

table, tr, th, td {
    border: 1px solid #9c0;
    border-collapse: collapse;
}

th {
    background-color: #9c0;
    color: white;
}

td, th {
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

td > ul {
    margin: 0px;
}

div.comment {
    box-shadow: 0 0 20px 1px gray;
}

h1 > .faded-out {
    font-size: 80%;
}

