
span.coursecode {
    font-weight: bold;
}

span.subtext {
    font-size: 0.8em;
}

div.searchbox {
    text-align: center;
}

h2 {
    margin-bottom: 4px;
}

div.messagebox {
    margin-top: 8px;
    text-align: justify;
    /*background-color: #ffff88;*/
}

div.third-width {
    width: 100px;
}

div.leftbox {
    float: left;
    min-width: 150px;
    max-width: 400px;
    width: 50%;
}

div.rightbox {
    float: right;
    min-width: 150px;
    max-width: 400px;
    width: 50%;
}

