
span.coursecode {
    font-weight: bold;
}

div.searchbox {
    padding: 8px;
    border-radius: 5px;
    /*
    background: #FFFFBB;
    */
    background: #AAFFAA;
    text-align: center;
}

h2 {
    margin-bottom: 4px;
}

div.messagebox {
    margin-top: 8px;
    text-align: justify;
    /*background-color: #ffff88;*/
}

div.third-width {
    width: 100px;;
}

div.leftbox {
    float: left;
}

div.rightbox {
    float: right;
}

li {
    font-size: 11pt;
}

