
div.search-result {
    padding-top: 8px;
}

div.search-result a {
    margin-top: 8px;
    font-size: 1.1em;
}

div#add-course-tip {
    font-size: 11pt;
    margin-top: 8px;
    padding: 8px;
    border-radius: 5px;
    background: #FFFFBB;
}

