{% extends "schedules/base.html" %}

{% block subpage_title %}
Your Schedules
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/clicklist.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/schedules.css">
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}scripts/libs/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}scripts/linkedlist.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}scripts/clicklist.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}scripts/schedules/scheduledisplay.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}scripts/schedules/list.js" type="text/javascript"></script>
{% endblock %}

{% block padded_content %}
    <h1>Your Current Schedule</h1>
    <div class="canvas-container">
        <canvas id="schedule-canvas" class="hidden" width="770" height="500"></canvas>
        <h2 class="no-bottom-margin">
            You haven't told me what you current schedule is :(
        </h2>
        <span class="helptext">
            You can either create a new schedule, or mark an existing one as your
            active schedule.
        </span>
    </div>

    <h1>Your Schedules</h1>
    <div class="list-test"></div>
    <div class="center">
        <h2 class="no-bottom-margin">No schedules here :/</h2>
        <span class="helptext">
            Why not create one?
        </span>
    </div>
{% endblock %}
