{% extends "appbase/base.html" %}

{% block subpage_title %}
Your Schedules -
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/clicklist.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/schedules.css">
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}scripts/libs/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}scripts/linkedlist.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}scripts/clicklist.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}scripts/schedules/scheduledisplay.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}scripts/schedules/list.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h1>Your Current Schedule</h1>
    <div class="canvas-container">
        <canvas id="schedule-canvas" width="770" height="500"></canvas>
    </div>

    <h1>Your Other Schedules</h1>
    <div class="list-test"></div>
{% endblock %}
