
div.canvas-container {
    text-align: center;
    padding-bottom: 16px;
}

.hidden {
    display: none;
}

span.helptext {
    display: block;
    clear: both;
    font-size: 0.75em;
    color: #888;
    padding-bottom: 5px;
}

