
ul.tabbernav {
    padding-left: 16px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 8px;
    text-align: center;
}

ul.tabbernav > li {
    display: inline;
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;

    background-color: lightgray;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px lightgray;
}

ul.tabbernav > li > a {
    /* Extend the clickable area to cover the entire "tab" */
    padding-top: 8px;
    padding-bottom: 8px;
}

ul.tabbernav > li.tabberactive {
    position: relative;
    background-color: #9c0;
}

ul > li.tabberactive > a {
    color: white;
}

ul.tabbernav a {
    text-decoration: none;
    font-size: 0.8em;
    color: #333;
    padding: 0 8px 0 8px;
}

.tabbertabhide {
    display: none;
}

