<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans'
              rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">

        {% block extra_css %}

        {% endblock %}

        {% block scripts %}

        {% endblock %}

        <title>
            {# Logged-out pages should get full control over the page title #}
            {% block subpage_title %}
            {% endblock %}
            {% if user.is_authenticated %}
                - Forever Alone
            {% endif %}
        </title>
    </head>
    <body>
        <div class="page">
            <!-- header -->
            <div class="header">
                <div id="apptitle">
                    <b>LugSched</b>
                    &nbsp;&nbsp;
                    {% if user.is_authenticated %}
                        <a href='/schedules/'>Schedules</a>
                        | <a href='/profile/'>Profile</a>
                        | <a href='/coursewiki/'>Course Wiki</a>
                        {# Put an admin link in the top bar if the user's an admin #}
                        {% if user.is_staff %}
                            | <a href='/admin/' class='admin-link'>Administration</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div id="signin">
                    {% block login %}
                        {% if user.is_authenticated %}
                            <b>{{ user.username }}</b>&nbsp;
                            <a href="/accounts/logout/">Log Out</a>
                        {% else %}
                            <a href="/accounts/register/">Register</a> |
                            <a href="/accounts/login/">Log In</a>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <br clear="both">
    
            <div class="body">
                {% block content %}
                    <p>Index page</p>
                    <p><a href="/accounts/register/">Register</a></p>
                    <p><a href="/accounts/login/">Log In</a></p>
                    <p><a href="/accounts/logout/">Log Out</a></p>
                {% endblock %}
            </div>
            <div class="footer clear">
                Bacon ipsum dolor sit amet jerky laborum pork belly, ut
                drumstick short ribs tenderloin sirloin turducken flank esse
                pastrami labore. Consectetur spare ribs hamburger culpa occaecat
                exercitation. Pork loin fugiat ullamco, sed drumstick ea
                proident ham hock beef capicola mollit non strip steak.
                Cupidatat sint nulla venison hamburger.
            </div>
        </div>
    </body>
</html>

