<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
        {% if isAdmin %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/message-boxes.css">
        {% endif %}

        {% block extra_css %}

        {% endblock %}

        {% block scripts %}

        {% endblock %}

        <title>
            {# Logged-out pages should get full control over the page title #}
            {% block subpage_title %}
            {% endblock %}
            {% if user.is_authenticated %}
                - Forever Alone
            {% endif %}
        </title>
    </head>
    <body>
        <div class="page">
            <!-- header -->
            <div class="header">
                <div id="apptitle">
                    <b>Forever Alone</b>
                    &nbsp;&nbsp;
                    {% if user.is_authenticated %}
                        <a href='/schedules/'>Schedules</a>
                        | <a href='/profile/'>Profile</a>
                        {% if user.is_staff %}
                            | <a href='/admin/' class='admin-link'>Administration</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div id="signin">
                    {% block login %}
                        {% if user.is_authenticated %}
                            <b>{{ user.username }}</b>&nbsp;
                            <a href="/accounts/logout/">Log Out</a>
                        {% else %}
                            <a href="/accounts/register/">Register</a> |
                            <a href="/accounts/login/">Log In</a>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <br clear="both">
    
            <div class="body">
                {% block content %}
                    <p>Index page</p>
                    <p><a href="/accounts/register/">Register</a></p>
                    <p><a href="/accounts/login/">Log In</a></p>
                    <p><a href="/accounts/logout/">Log Out</a></p>
                {% endblock %}
        <div class="footer">
            This is a footer. Its current text is a placeholer. The quick brown
            fox jumps over the lazy dog. You know, I could easily just generate
            decent placeholder text from Bacon Ipsum, or - even better - Samuel
            L. Ipsum, but this text is sufficiently long now.
        </div>
            </div>
        </div>
    </body>
</html>

