{% extends "appbase/base.html" %}

{% comment %}
  Keep this, even though it is unused, just in case.
  (the actual home page title is defined in templates/appbase/base.html)
{% endcomment %}
{% block subpage_title %}
Forever Alone: College schedules done right
{% endblock %}

{% block content %}
    <div class="app-description">
        <img src="http://placehold.it/800x170"></img>
        <!--<img src="http://placekitten.com/300/200"
        class="side-image-right"></img>-->
        <img src="http://placehold.it/300x200" class="side-image-right"></img>
        <h1>College is fun. Being by yourself isn't.</h1>
        <p>
            Are the schedules of you and your friends drifting away from each other, with your courses no longer matching up,
            but you still want to meet up often and do something fun? <b>That's what Forever Alone is for.</b>
        </p>
        <h1 class="clear">Sharing is caring!</h1>
        <p>
            Create your schedule, share them with your friends, and let Forever Alone figure out when you <i>won't</i>
            be forever alone. It's that simple!
        </p>
        <h1>And all you need is a Google Account! <sup>(and, umm, friends...)<sup></h1>
        <p>
            What are you waiting for? Log in and get started!
        </p>
        <br clear="both">
    </div>
{% endblock %}
