{% extends "coursewiki/base.html" %}

{% block subpage_title %}
Add a Course
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}css/forms.css">
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}scripts/coursewiki/addcourse.js"
        type="text/javascript"></script>
    <script src="{{ STATIC_URL }}scripts/libs/jquery.js"
        type="text/javascript"></script>
{% endblock %}

{% block padded_content %}
    <h1 class="no-bottom-margin">Add a Course</h1>
    <span class="subtext">
        Please ensure that the course you are about to add really does exist.
    </span>
    <hr>

    <div class="errorbox hidden" id="data-incomplete-message">
        Please fill in all of the required fields.
    </div>
    <form action='' method='POST' name='courseData'>
        {% csrf_token %}
        <span class="subtext">
            <i><span class="required-data">*</span> - required</i>
        </span>
        <p>
            <label for="courseCode">Course code:
                <span class="required-data">*</span>
                <input type="text" name="courseCode"></input>
            </label>
            <span class="helptext">The short name for courses, e.g. <i>BASICON</i></span>
        </p>
        <p>
            <label>Course name:
                <span class="required-data">*</span>
                <input type="text" name="courseName" size="40"></input>
            </label>
            <span class="helptext">
                The long name for courses, e.g. <i>Basic Computer Concepts</i>
            </span>
        </p>
        <p>
            <label>Course description:
                <input type="text" name="description" size="50"></input>
            </label>
            <span class="helptext">
                A brief description of what the course is about, this is shown
                in search results.
            </span>
        </p>

        <input type="submit" value="Submit to Wiki" onClick="return doInputValidation()"></input>
    </form>
{% endblock %}
