{% extends "coursewiki/base.html" %}
{% load comments %}

{% block subpage_title %}
    Course Details
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}css/coursewiki/main.css">
    <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}css/coursewiki/coursedetails.css">
{% endblock %}

{% block padded_content %}
    <div id="container">

    <div class="course-details">
        <h1 class="no-bottom-margin">
            {{ course.code }}
            <span class="faded-out">{{ course.name }}</span>
        </h1>
        <span class="subtext">
            {{ course.description }}
        </span>
    
        <h2 class="minimal-bottom-margin">Sections</h2>
        {% if sections|length > 0 %}
            <ul>
            {% for section in sections %}
                <li>{{ section.name }} 
            {% endfor %}
            </ul>
        {% else %}
            <span class="subtext">
                This course doesn't have any sections yet.
            </span>
        {% endif %}
    </div>

    <div class="course-comments">
        {% get_comment_count for course as comment_count %}

        {% if comment_count == 0 %}
            <div id="nocomments">
                No comments yet
            </div>
        {% endif %}
        {% get_comment_list for course as comments %}
        {% for comment in comments %}
            <div class="comment-header subtext">
                {{ comment.user_name }}
            </div>
            <div class="comment-content">
                {{ comment.comment }}
            </div>
        {% endfor %}
    </div>

    </div>
{% endblock %}

