{% extends "coursewiki/base.html" %}

{% block subpage_title %}
Course Wiki
{% endblock %}

{% block page_css %}
{% endblock %}

{% block narrow_content %}
    <div class="center">
        <h1 class="no-bottom-margin">Course Wiki - {{ uni_name }}</h1>
        <span class="subtext">
            Search for courses from this university below.
        </span>
    </div>
    <div class="searchbox">
        <form method="GET" action="./search">
            <input name="searchQuery" type="text" size="70"></input>
            <input type="submit" value="Search"></input>
        </form>
    </div>
    <div class="leftbox clear">
        <h2>Recently added</h2>
        <ul>
            {% for course in newest_courses %}
                <li><span class="coursecode">
                    <a href="courses/{{ course.code|urlencode:"" }}/">{{ course.code }}</a>
                </span> - {{ course.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="rightbox">
        <h2>Recently updated</h2>
        <ul>
            {% for course in newest_courses %}
                <li><span class="coursecode">
                    <a href="courses/{{ course.code|urlencode:"" }}/">{{ course.code }}</a>
                </span> - {{ course.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

