{% extends "coursewiki/base.html" %}

{% block subpage_title %}
Course Wiki
{% endblock %}

{% block page_css %}
{% endblock %}

{% block narrow_content %}
    <div id="coursewiki-title-box">
        <h1 id="coursewiki-title-heading">
            <span class="university-name">{{ uni_name }}</span>
            Course Wiki
        </h1>
        <span class="subtext">
            Search for courses from this university below.
        </span>
    </div>
    <div class="searchbox">
        <form method="GET" action="{% url coursewiki.views.search_view uni_name %}">
            <input name="searchQuery" type="text" size="70"></input>
            <input type="submit" value="Search"></input>
        </form>
    </div>
    <div class="leftbox clear">
        <h2>Recently added</h2>
        <ul>
            {% for course in newest_courses %}
                <li><span class="coursecode">
                    <a href="{{ course.get_absolute_url }}">{{ course.code }}</a>
                </span> - {{ course.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="rightbox">
        <h2>Recently updated</h2>
        <ul>
            {% for course in newest_courses %}
                <li><span class="coursecode">
                    <a href="{{ course.get_absolute_url }}">{{ course.code }}</a>
                </span> - {{ course.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

