{% extends "appbase/base.html" %}

{% block subpage_title %}
Course Wiki
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/coursewiki.css">
{% endblock %}

{% block content %}
    <h1>Course Wiki - De La Salle University</h1>
    <div>
        Is our course database incomplete? Help us help you help
        us all by adding missing courses and correcting errors.
    </div>
    <div class="leftbox">
        <h2>Recently added courses</h2>
        <ul>
            <li><span class="coursecode">COMPRO1</span> - Introduction to Computer Programming
            <li><span class="coursecode">WEBDEVE</span> - Web Development
            <li><span class="coursecode">EXAMPLE</span> - Hello World
            <li><span class="coursecode">ADVMEME</span> - Advanced Meme Usage
            <li><span class="coursecode">???????</span> - Introduction to
            Placeholder Text
        </ul>
    </div>
    <div class="rightbox">
        <h2>Recently updated courses</h2>
        <ul>
            <li><span class="coursecode">DASALGO</span> - Data Structures and Algorithms
            <li><span class="coursecode">THEOCOM</span> - Theory of Computation
            <li><span class="coursecode">EXAMPLE</span> - Hello World
            <li><span class="coursecode">INTMEME</span> - Introduction to
                Internet Memes
            <li><span class="coursecode">???????</span> - Advanced Placeholder
                Text
        </ul>
    </div>
{% endblock %}

