{% extends "coursewiki/base.html" %}

{% block subpage_title %}
Course Wiki Search
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}css/coursewiki/main.css">
    <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}css/coursewiki/search.css">
{% endblock %}

{% block narrow_content %}
    <div class="searchbox">
        <h1 class="no-bottom-margin">Course Wiki - {{ uni_name }}</h1>
        <span class="subtext">
            Search for courses from this university below.
        </span>
        <form method="GET" action="./search">
            <input name="searchQuery" type="text" size="70"
                value="{{ searchQuery }}">
            </input>
            <input type="submit" value="Search"></input>
        </form>
    </div>
    {% if searchQuery != '' %}
        <h2 class="no-bottom-margin">Search results for "{{ searchQuery }}":</h2>
        <span class="subtext">
            {{ searchResults|length }}
            {% if searchResults|length > 1 %}
                results
            {% else %}
                result
            {% endif %}
            found
        </span>


        {% for course in searchResults %}
            <div class="search-result">
                <a href="{{ course.get_absolute_url }}">
                    {{ course.code }} - {{ course.name }}
                </a>
                <br>
                <span class="subtext">{{ course.description }}</span>
            </div>
        {% endfor %}

        <div id="add-course-tip">
            Unable to find the course you're looking for? LugSched might not know
            about it yet.
            {% url coursewiki.views.add_course_view uni_name=uni_name as add_url %}
            <a href="{{ add_url }}">Add it to the wiki</a>.
        </div>
    {% endif %}
{% endblock %}

