{% extends "appbase/base.html" %}

{% block subpage_title %}
Course Wiki Search
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}css/coursewiki/main.css">
    <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}css/coursewiki/search.css">
{% endblock %}

{% block content %}
    <h1>Course Wiki Search</h1>
    <div class="searchbox">
        <form method="GET" action="./search">
            <label for="searchQuery">Enter a course code (e.g. <i>WEBDEVE</i>):</label>
            <input name="searchQuery" type="text" size="30"
                value="{{ searchQuery }}">
            </input>
            <input type="submit" value="Search"></input>
        </form>
    </div>
    {% if searchQuery != '' %}
        <h2 class="no-bottom-margin">Search results for "{{ searchQuery }}":</h2>
        <span class="subtext">
            {{ searchResults|length }}
            {% if searchResults|length > 1 %}
                results
            {% else %}
                result
            {% endif %}
            found
        </span>


        {% for course in searchResults %}
            <div class="search-result">
                <a href="./{{ course.university|urlencode:"" }}/courses/{{ course.code|urlencode:"" }}">
                    {{ course.code }} - {{ course.name }}
                </a>
                <span class="subtext">{{ course.description }}</span>
            </div>
        {% endfor %}

        <div id="add-course-tip">
            Unable to find the course you're looking for? LugSched might not know
            about it yet. <a href="./actions/addcourse">Add a course</a>
        </div>
    {% endif %}
{% endblock %}

