{% extends "appbase/base.html" %}

{% block subpage_title %}
Log In
{% endblock %}

{% block extra_css %}
    <style type="text/css">
        div#login-outer-wrapper {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p class="error">Oops, invalid username or password!</p>
    {% endif %}

    {# TODO Align the text boxes! #}
    <div id="login-outer-wrapper">
        <h1>Log In</h1>
        <form action="{% url django.contrib.auth.views.login %}?next=/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Log In" />
        </form>
    </div>
{% endblock %}
